$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$main-color: #fe7443;
$accent-color: #aaa7a3;
$off-white: #f6f6f6;
$dark-color: #333;

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: $off-white;
  background-image: url('../buckettitle.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.logo-image {
  float: left;
  display: inline;
  margin: 0;
  max-height: 100px;
  padding: 0;
  width: 80px;
}

.button-holder {
  float: right;
}

#map {
  border: 8px solid $off-white;
  float: left;
  height: 500px;
  margin: 16px;
  padding: 0;
  width: 45%;
}

.restaurant-wrapper {
  float: left;
  height: 500px;
  margin: 8px;
  padding: 0;
  width: 45%;
}
