$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$main-color: #fe7443;
$accent-color: #aaa7a3;
$off-white: #f6f6f6;
$dark-color: #333;

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: $off-white;
  background-image: url('../buckettitle.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.logo {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.logo-image {
  height: 100px;
  width: 89px;
}

.button-holder {
  float: right;
}

#map {
  border: 8px solid $accent-color;
  float: left;
  height: 500px;
  margin: 16px;
  padding: 0;
  width: 45%;
  min-width: 300px;
}

#pac-input {
  width: 300px;
}

.how-to-message {
  padding-top: 8px;

  h3 {
    margin-top: 0;
  }
}

.restaurant-wrapper {
  float: left;
  height: 500px;
  margin: 8px;
  padding: 0;
  max-width: 45%;
}

.restaurant-list-holder {
  border-top: 2px solid $dark-color;
  padding-top: 4px;
}

.restaurant-form {
  float: left;
  margin: 4px;
}

.restaurant-form-holder {
  height: 240px;
}

.restaurant-input-field {
  max-width: 175px;
}

.create-button {
  margin-top: 6px;
}

.get-from-map-button {
  margin-bottom: 4px;
}

.restaurant-list-holder {
  clear: both;
}

.save-restaurant-message {
  clear: both;
}

.pending {
  background-color: $off-white;
  border: 4px solid $accent-color;
  float: left;
  height: 150px;
  margin: 4px;
  padding: 4px;
  overflow-x: scroll;
  width: 150px;

  div {
    min-height: 16px;
  }

  .restaurant-check-icon {
    float: left;
  }

  .restaurant-trash-icon {
    float: right;
  }

  .restaurant-selectable {
    clear: both;
  }

  p {
    min-height: 20px;
  }
}

.visited {
  background-color: $off-white;
  border: 4px solid $main-color;
  float: left;
  height: 150px;
  margin: 4px;
  padding: 4px;
  overflow-x: scroll;
  width: 150px;

  div {
    min-height: 20px;
  }

  .restaurant-check-icon {
    float: left;
  }

  .restaurant-trash-icon {
    float: right;
  }

  .restaurant-selectable {
    clear: both;
  }

  p {
    min-height: 20px;
  }
}

textarea {
  resize: none;
}
