$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$main-color: #fe7443;
$accent-color: #aaa7a3;
$off-white: #f6f6f6;
$dark-color: #333;

body {
  color: $dark-color;
  height: 100%;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: $off-white;
  background-image: url('https://raw.githubusercontent.com/Squad-SOL/bucket-browser/master/assets/buckettitle.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.landing-image {
  background-image: url('https://raw.githubusercontent.com/Squad-SOL/bucket-browser/master/assets/bucketlanding.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 8px solid $accent-color;

  float: left;
  height: 500px;
  margin: 16px;
  padding: 0;
  width: 45%;
  min-width: 315px;
}

.logo {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.logo-image {
  height: 100px;
  width: 89px;
}

.btn {
  background-color: $off-white !important;
  border: 1px solid $dark-color !important;
  border-radius: 0;
  color: $dark-color !important;
  padding: 2px !important;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.btn:hover {
  background-color: $accent-color !important;
  border: 1px solid $dark-color !important;
  color: $dark-color !important;
}

.btn:active {
  background-color: $accent-color !important;
  border: 1px solid $dark-color  !important;
  color: $dark-color  !important;
}

.button-holder {
  float: right;
  height: 100px;
  margin-right: 4px;
  padding-top: 33px;
}

// is the actual button (not the dropdown part)
.dropdown-toggle {
  background-color: $off-white;
  border: 1px solid $dark-color;
  color: $dark-color;
  margin-top: 2px;
}

// background top and bottom of button dropdowns
.dropdown-menu {
  background-color: $off-white;
  border-radius: 0;
  color: $dark-color;
}

// middle of dropdown menu background/font
fieldset {
  background-color: $off-white;
  color: $dark-color;
}



// is the input text fields and buttons (e.g. email, password, "sign in" button inside dropdown menu)
input, textarea {
  background-color: $off-white !important;
  border: 1px solid $dark-color !important;
  color: $dark-color !important;
  float: right !important;
  padding: 2px !important;
  border-radius: 0 !important;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: $dark-color;
  border-style: $dark-color solid none;
  border-width: 1px 0;
  margin: 2px;
  margin-top: 8px;
}

// padding to either side of the inputs in dropdown-menus
// form {
//   padding-left: 2px !important;
//   padding-right: 2px !important;
// }

#map {
  border: 8px solid $accent-color;
  float: left;
  height: 500px;
  margin: 16px;
  min-width: 315px;
  padding: 0;
  width: 45%;
}

#pac-input {
  width: 300px;
}

.restaurant-wrapper {
  border: 8px solid $accent-color;
  float: left;
  height: 500px;
  margin: 16px;
  min-width: 315px;
  padding: 0;
  width: 45%;
}

.how-to-image {
  background-image: url('https://raw.githubusercontent.com/Squad-SOL/bucket-browser/master/assets/buckethowto.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  margin: 4;
  padding: 0;
}

.restaurant-form-holder {
  height: 50%;
  margin: 0 auto;
}

.restaurant-form {
  float: left;
  margin: 2px;
  width: 145px;

  .restaurants-input {
    width: 140px;
  }
}

.create-button {
  margin-top: 8px;
  background-color: $off-white !important;
  border: 1px solid $dark-color !important;
  color: $dark-color !important;
  float: right !important;
  padding: 2px !important
}

.get-from-map-button > button {
  margin-top: 8px;
  margin-left: 8px;
  background-color: $off-white !important;
  border: 1px solid $dark-color !important;
  color: $dark-color !important;
  padding: 2px !important
}

.save-restaurant-message {
  clear: both;
  color: $main-color;
}

.restaurant-list-holder {
  bottom: 22px; // to allow space for footer
  clear: both;
  margin: 16px;
  padding-top: 16px; // to keep distance from content above this section
  position: relative; // to use bottom setting above to allow space for footer
}

.pending {
  background-color: $off-white;
  border: 4px solid $accent-color;
  float: left;
  height: 175px;
  margin: 4px;
  padding: 4px;
  overflow-x: scroll;
  width: 175px;

  .restaurant-check-icon {
    float: left;
  }

  .restaurant-trash-icon {
    float: right;
  }

  .restaurant-selectable {
    clear: both;
  }

  .restaurant-name-style {
    color: $main-color;
    font-weight: bold;
  }

  p {
    margin: 4px;
  }

  .label {
    color: $dark-color;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
  }
}

.visited {
  background-color: $off-white;
  border: 4px solid $main-color;
  float: left;
  height: 175px;
  margin: 4px;
  padding: 4px;
  overflow-x: scroll;
  width: 175px;

  .restaurant-check-icon {
    float: left;
  }

  .restaurant-trash-icon {
    float: right;
  }

  .restaurant-selectable {
    clear: both;
  }

  .restaurant-name-style {
    color: $main-color;
    font-weight: bold;
  }

  p {
    margin: 4px;
  }

  .label {
    color: $dark-color;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
  }
}

textarea {
  resize: none;
}

footer {
  background-color: $off-white;
  bottom: 0; // fixed position at the bottom of the scren
  height: 20px;
  position: fixed; // uses the bottom location
  text-align: center;
  width: 100%;
}
