$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$main-color: #fe7443;
$accent-color: #aaa7a3;
$off-white: #f6f6f6;
$dark-color: #333;

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: $off-white;
  background-image: url('https://raw.githubusercontent.com/Squad-SOL/bucket-browser/master/assets/buckettitle.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.landing-image {
  border: 8px solid $accent-color;
  background-image: url('https://raw.githubusercontent.com/Squad-SOL/bucket-browser/master/assets/bucketlanding.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  height: 500px;
  margin: 16px;
  padding: 0;
  width: 45%;
  min-width: 315px;
}

.logo {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.logo-image {
  height: 100px;
  width: 89px;
}

.button-holder {
  float: right;
}

#map {
  border: 8px solid $accent-color;
  float: left;
  height: 500px;
  margin: 16px;
  padding: 0;
  width: 45%;
  min-width: 315px;
}

#pac-input {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 25px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.restaurant-wrapper {
  border: 8px solid $accent-color;
  float: left;
  height: 500px;
  margin: 16px;
  padding: 0;
  width: 45%;
  min-width: 315px;
}

.how-to-image {
  background-image: url('https://raw.githubusercontent.com/Squad-SOL/bucket-browser/master/assets/buckethowto.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  margin: 4;
  padding: 0;
}

.restaurant-form-holder {
  height: 50%;
  margin: 0 auto;
}

.restaurant-form {
  float: left;
  margin: 2px;
  width: 145px;

  .restaurants-input {
    width: 140px;
  }
}

.create-button {
  margin-top: 6px;
}

.get-from-map-button {
  margin: 2px 2px 4px;
}
// .restaurant-input-field {
//   margin: 2px;
//   width: 145px;
//
//   .restaurants-input {
//     width: 140px;
//   }
// }

.save-restaurant-message {
  clear: both;
  color: $main-color;
}

.restaurant-list-holder {
  clear: both;
  margin: 16px;
  padding: 0;
}

.pending {
  background-color: $off-white;
  border: 4px solid $accent-color;
  float: left;
  height: 175px;
  margin: 4px;
  padding: 4px;
  overflow-x: scroll;
  width: 175px;

  .restaurant-check-icon {
    float: left;
  }

  .restaurant-trash-icon {
    float: right;
  }

  .restaurant-selectable {
    clear: both;
  }

  .restaurant-name-style {
    color: $main-color;
    font-weight: bold;
  }

  p {
    margin: 4px;
  }

  .label {
    color: black;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
  }
}

.visited {
  background-color: $off-white;
  border: 4px solid $main-color;
  float: left;
  height: 175px;
  margin: 4px;
  padding: 4px;
  overflow-x: scroll;
  width: 175px;

  .restaurant-check-icon {
    float: left;
  }

  .restaurant-trash-icon {
    float: right;
  }

  .restaurant-selectable {
    clear: both;
  }

  .restaurant-name-style {
    color: $main-color;
    font-weight: bold;
  }

  p {
    margin: 4px;
  }

  .label {
    color: black;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
  }
}

textarea {
  resize: none;
}
